# Compiler files
cache/
/cache
out/
/out
node_modules/
/node_modules
dist/
/dist
venv/
.idea
# Ignores development broadcast logs
!/broadcast
broadcast/
/broadcast/*
/broadcast/*/31337/

.env
.ligoproject
.ligo-work/
client
